{% extends "index/index.html" %}

{% block main %}
    <h2 class="cover-heading">Choosing one image for detection.</h2>
    <form action="result/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div style="margin-top: 1rem" class="col-md-8 offset-md-2">
            <input type="file" class="custom-file-input" id="customFile" name="image">
            <label class="custom-file-label" for="customFile">Choose Image</label>
        </div>
        <button style="margin-top: 1rem" type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>
{% endblock %}
