{% extends "base.html" %}
{% block head %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">BRL</h3>
        <nav class="nav nav-masthead justify-content-center">
        {% if request.path == "/" %}<a class="nav-link active" href="/">Home</a>
        {% else %}<a class="nav-link" href="/">Home</a>
        {% endif %}
        {% if request.path == "/detection/" %}<a class="nav-link active" href="/detection">Detection</a>
        {% else %}<a class="nav-link" href="/detection">Detection</a>
        {% endif %}
        {% if request.path == "/reid/" %}<a class="nav-link active" href="/reid">ReID</a>
        {% else %}<a class="nav-link" href="/reid">ReID</a>
        {% endif %}
        </nav>
    </div>
    </header>
    <main role="main" class="inner cover">
        {% block main %}
        <h1 class="cover-heading">Display platform for advanced methods</h1>
        <p class="lead">Biometrics Research Laboratory<br>College of Computer Science, Sichuan University</p>
        {% endblock %}
    </main>
    <footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Display platform for <a href="http://www.scubrl.org/index">SCUBRL</a>, developed by <a href="https://cxh0519.github.io/">Xinhua Cheng</a>.</p>
    </div>
    </footer>
</div>
</body>
{% endblock %}